<div class="contents row">
  <% @tasks.each do |task| %>
    <div class="content_post" >
      <p><%= task.text %></p>
      <span class="name">
        <%= task.name %>
      </span>
    </div>
  <% end %>
</div>